* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

h1, h2 {
    color: $white;
    font-family: 'Vollkorn', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}