@import "_variables.scss";
@import "_normalize.scss";
@import "layout/_header.scss";
@import "layout/_about.scss";
@import "layout/_skills.scss";
@import "layout/_projects.scss";
@import "layout/_contact.scss";
@import "layout/_footer.scss";

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
    h1 {
        font-size: 3.4rem;
        color: $grey;
        font-weight: 500;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .underline::after {
        content: "";
        position: absolute;
        height: 3px;
        background-color: #0078ff;
        width: 80px;
        // bottom: -
        z-index: 0;
    }

    @media (min-width: $screen-md-min) {

        h3 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }

    @media (min-width: $screen-xxl-min) {
        h1 {
            font-size: 3.8rem;
        }
    }

}