.about {
    padding: 8rem 1.5rem;
    background-color: $lightGrey;

    & .container {
        padding: 1rem;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
        display: flex;
        flex-direction: column;

        & .about__img {
            width: 60%;
            margin: 0 auto;
            padding: 2rem;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 2%;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 4px 5px 0 rgba(0,0,0,.2);
            }
        }

        & div > h1 {
            margin-top: 2rem;
        }

        & .underline::after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: #0078ff;
            width: 80px;
            clear: both;       
        }

        & p {
            margin-top: 3rem;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 30px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 8rem 4rem;

        .container {
            flex-direction: row;
            padding: 3rem 1rem;

            & .about__img {
                height: 100%;
                width: 40%;
                padding: 2rem;
                border: 1px solid #fff;

                img {
                    width: 100%;
                    object-fit: cover;
                    // border: 1px solid #fff;
                    border-radius: 2%;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.06),0 4px 5px 0 rgba(0,0,0,.2);
                }
            }

            & .about__desc {
                width: 60%;
                padding: 0 3rem;
            }
        }
    }

    @media (min-width: $screen-xxl-min) {
        padding: 8rem 16rem;

        .container .about__img {
            width: 40%;
            padding: 10rem;
            padding-top: 4rem;
        }
    }
}