.contact {
    padding: 5rem 1.5rem;
    background-color: $bgc-blue;

    .container {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        & div > h1 {
            color: $white;
            margin-top: 2rem;
        }

        .underline::after {
            background-color: $white;
        }

        p {
            margin-top: 5rem;
            font-size: 1.8rem;
            color: $white;
            font-weight: 400;
            line-height: 3rem;
        }

        .socials {
            width: 100%;
            margin-top: 8rem;
            display: flex;
            justify-content: space-around;

            li {
                height: 40px;
                width: 40px;

                a > i {
                    color: $white;
                    font-size: 4rem;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 4rem;

        .container > p {
            padding: 2rem 1rem;
        }

    }

    @media (min-width: $screen-md-min) {
        .container {
            flex-direction: row;

            & .info {

                width: 100%;

               & p {
                    padding-right: 2rem;
                }
            }

            & .socials {
                width: 100%;
                padding-left: 10rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & li > a > i {
                    font-size: 4.6rem;
                }
            }
        }
    }

    @media (min-width: $screen-xxl-min) {
        padding: 4rem 16rem;

        .container {
            & .socials {
                width: 70%;
                padding-left: 18rem;

                & li > a > i {
                    font-size: 6rem;
                }
            }
        }
    }
}