.contact {
    padding: 5rem 1.5rem;
    background-color: $bgc-blue;

    .container {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        & div > h1 {
            color: $white;
            margin-top: 2rem;
        }

        .underline::after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: $white;
            width: 80px;
            // bottom: -
        }

        p {
            margin-top: 5rem;
            font-size: 1.8rem;
            color: $white;
            font-weight: 400;
            line-height: 3rem;
        }

        .socials {
            width: 100%;
            margin-top: 8rem;
            display: flex;
            justify-content: space-around;

            li {
                height: 40px;
                width: 40px;

                a > i {
                    color: $white;
                    font-size: 4rem;
                }
            }
        }


    }
}