header {
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: $bgc-blue;
    display: flex;
    flex-direction:column;

    & .navbar {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .logo {
            // width: 100px;
            height: 40px;
            // overflow: hidden;
    
            img {
                height: 100%;
                width: 100%;
            }
        }
    
        & .burger {
            padding: 0;
            background: none;
            color: inherit;
            border: none;
            cursor: pointer;
            outline: inherit;
    
            & i {
                color: $white;
                font-size: 3rem;
            }
        }
    
        & nav {
            display: none;
        }
    }

    .content {
        height: 100%;
        width: 100%;
        padding-top: 8rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 5rem;
            font-family: 'Audiowide', sans-serif;
            color: $white;
            text-align: center;
            letter-spacing: 2px;
        }

        h2 {
            font-size: 2.6rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            text-align: center;   
        }

        button {
            height: 38px;
            width: 140px;
            margin-top: 3rem;
            background-color: $red;
            border:none;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;

            & a {
                font-size: 1.6rem;
                color: $white;
                font-weight: 600;
                letter-spacing: .5px;
            }
        }
    }
    


    @media (min-width: $screen-md-min) {

        & .navbar {

            & .burger {
                display: none;
            }

            & nav {
                height: 100%;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & a {
                    padding: 10px 5px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $lightGrey;
                    border-bottom: 2px solid $bgc-blue;
                    transition: 0.3s;

                    &:hover {
                        color: $white;
                        border-bottom: 2px solid white;
                    }
                }
            }
        }

        .content {

            & button {
                transition: 0.3s;

                &:hover {
                    background-color: #ee4141;                    
                }
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        background-image: url('/img/bgc_medium.gif');
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: cover;

        & .navbar {
            height: 60px;

            .logo {
                height: 60px;
            }

            nav {
                width: 60%;
                padding: 0 2rem;
            }
        }

        & .content {
            width: 50%;
            height: 68%;
            padding-left: 2rem;
            align-items: flex-start;

            h1 {
                font-size: 4.6rem;
            }
        }
    }

    @media (min-width: $screen-xl-min) {
        padding: 2rem 6rem;

        & .navbar {

            & nav {
                width: 50%;

                & a {
                    font-size: 1.8rem;
                }
            }
        }

        & .content {
            width: 50%;
            height: 70%;
            padding-top: 14rem;

            button {
                height: 42px;
                width: 160px;
                margin-top: 10rem;

                & a {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media (min-width: $screen-xxl-min) {
        background-image: url('/img/bgc_large.gif');
        padding: 2rem 10rem;

        & .navbar {

            & nav {
                width: 42%;
            }
        }
    }
}