.projects {
    padding: 5rem 1.5rem;
    background-color: $lightGrey;

    & .container {
        display: flex;
        flex-direction: column;

        & div > h1 {
            margin-top: 2rem;
        }

        & .projects__list {
            height: 100%;
            width: 100%;
            margin-top: 3rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            & .project {
                padding: 3rem 0;
                margin-bottom: 4rem;

                & a > img {
                    width: 100%;
                    margin-bottom: 2rem;
                }

                & .tech {
                    width: 100%;
                    display: flex;

                    li {
                        color: $blue;
                        font-size: 1.4rem;
                        font-weight: 600;
                        margin-right: 1rem;
                        margin-bottom: 2rem;
                    }
                }

                & .desc {
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 2rem;
                }
            }
        }
    }
}