.projects {
    padding: 5rem 1.5rem;
    background-color: $lightGrey;

    & .container {
        display: flex;
        flex-direction: column;

        & div > h1 {
            margin-top: 2rem;
        }

        & .projects__list {
            height: 100%;
            width: 100%;
            margin-top: 3rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            & .project {
                padding: 3rem 0;
                margin-bottom: 4rem;

                & a > img {
                    width: 100%;
                    margin-bottom: 2rem;
                }

                & .tech {
                    width: 100%;
                    display: flex;
    
                    li {
                        color: $blue;
                        font-size: 1.4rem;
                        font-weight: 600;
                        margin-right: 1rem;
                        margin-bottom: 2rem;
                    }
                }
    
                & .desc {
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 2rem;
                }
               
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 8rem 4rem 4rem 4rem;

        & .container > .projects__list > .project {
            margin-bottom: 10rem;
            padding: 0 4rem;

            & a > img {
                width: 100%;
                margin-bottom: 3rem;
            }

            & .tech > li {
                font-size: 1.6rem;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        & .container > .projects__list  {
            flex-direction: row;
            flex-wrap: wrap;
        
            & .project { 
                width: 48%;

                &:nth-child(odd) {
                    margin-right: 2%;
                }

                &:nth-child(even) {
                    margin-left: 2%;
                }

                &  .tech > li {
                    font-size: 1.8rem;
                }

                & .desc {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 2.2rem;
                }
            }
        }
    }

    @media (min-width: $screen-xxl-min) {
        padding: 8rem 16rem;

        & .container > .projects__list  {

            & .project { 
                width: 46%;

                &:nth-child(odd) {
                    margin-right: 4%;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }
      
    }
}