.skills {
    padding: 5rem 1.5rem;
    background-color: $white;

    & .container {
        display: flex;
        flex-direction: column;

        & div > h1 {
            margin-top: 2rem;
        }

        & .skills__list {
            height: 100%;
            width: 100%;
            margin-top: 3rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            & .skill {
                height: 250px;
                padding: 3rem 1.5rem;
                margin-bottom: 4rem;
                background-color: $white;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: 5px solid red;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px -5px;

                & ul {
                    height: 100%;

                    li {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-weight: 300;
                    }

                    .logo {                        
                        margin-top: 30px;
                        text-align: right;

                        i {
                            font-size: 4rem;
                            
                        }
                    }
                }
            }
        }
    }
}