.skills {
    padding: 5rem 1.5rem;
    background-color: $white;

    & .container {
        display: flex;
        flex-direction: column;

        & div > h1 {
            margin-top: 2rem;
        }

        & .skills__list {
            height: 100%;
            width: 100%;
            margin-top: 3rem;
            display: flex;
            flex-direction: column;

            & .skill {
                height: 250px;
                padding: 2rem 1.5rem;
                margin-bottom: 4rem;
                background-color: $white;
                border-radius: 5px;
                border-top: 8px solid $black;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px -5px;
                display: flex;
                flex-direction: column;
                justify-items: space-between;

                &:nth-child(1) {
                    border-top-color:#146cad;
                }
                
                &:nth-child(2) {
                    border-top-color:#ead41c;
                }

                &:nth-child(3) {
                    border-top-color:#5bcfee;
                }

                &:nth-child(4) {
                    border-top-color:#3eaf7c;
                }

                &:nth-child(5) {
                    border-top-color:#3d3e34;
                }

                &:nth-child(6) {
                    border-top-color:#8c271b;
                }

                & ul {
                    height: 100%;

                    li {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-weight: 300;
                    }

                }

                .logo {               
                    align-self: flex-end;         
                    margin-top: auto;
                    text-align: right;

                    i {
                        font-size: 4rem;
                        
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 8rem 5rem;

        .container {
            & .skills__list {
                flex-direction: row;
                flex-wrap: wrap;

                & .skill {
                    height: 280px;
                    width: 47%;
                    margin-top: 1rem;

                    &:nth-child(odd) {
                        margin-right: 3%;
                    }

                    &:nth-child(even) {
                        margin-left: 3%;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-xxl-min) {
        padding: 8rem 16rem;

        .container {
            & .skills__list {
                flex-direction: row;
                flex-wrap: wrap;

                & .skill {
                    height: 280px;
                    width: 32%;
                    margin-top: 1rem;

                    &:nth-child(odd) {
                        margin-right: 0%;
                    }

                    &:nth-child(even) {
                        margin-left: 0%;
                    }

                    &:nth-child(n) {
                        margin-left: 2%;
                    }

                    &:nth-child(1) {
                        margin-left: 0%;
                    }

                    &:nth-child(4) {
                        margin-left: 0%;
                    }

                    & ul {
                        li {
                            font-size: 1.8rem;
                            line-height: 2.6rem;
                        }
                    }
                }
            }
        }
    }
}